{% extends 'base.html.twig' %}

{% block title %}Account Activated{% endblock %}
{% block bodyClass %}page-activated{% endblock %}

{% block body %}
    <div class="uk-flex uk-flex-center uk-height-viewport">
        <div class="uk-width-1-1">
            <div class="uk-container uk-flex-1 uk-padding">
                <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-width-xlarge@m">
                    <p>Account Activated. <a href="{{ path('welcome') }}">Continue</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
