{% extends 'base.html.twig' %}

{% block body %}
    <h1>Check Your Inbox</h1>
    <p>An email containing instructions for resetting your password has been sent to: <span>{{ user.email }}</span></p>
    <a href="{{ path('welcome') }}">Return to Login</a>
{% endblock %}
