{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reset Password Error</h1>
    <p>Invalid or expired password reset request</p>
    <a href="{{ path('welcome') }}">Return to Login</a>
{% endblock %}
