{% extends 'base.html.twig' %}

{% block title %}Password Reset Error{% endblock %}
{% block bodyClass %}page-forgot{% endblock %}

{% block body %}
    <div class="uk-flex uk-flex-center uk-height-viewport">
        <div class="uk-width-1-1">
            <div class="uk-container uk-flex-1 uk-padding">
                <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-width-xlarge@m">
                    <h4>Password Error</h4>
                    <p>Invalid or expired password request</p>
                    <p><a href="{{ path('welcome') }}">Return to Login</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
