commands:
  01_composer_self_update:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update
  02_node_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/node ] && echo "node already installed"'
    command: 'curl --silent --location https://rpm.nodesource.com/setup_8.x | sudo bash - && sudo yum install -y nodejs'