# ---------------------------- Container Commands ------------------------------
# You can use the container_commands key to execute commands for your container.
# The commands in container_commands are processed in alphabetical order by
# name. They run after the application and web server have been set up and the
# application version file has been extracted, but before the application
# version is deployed. They also have access to environment variables such as
# your AWS security credentials. Additionally, you can use leader_only. One
# instance is chosen to be the leader in an Auto Scaling group. If the
# leader_only value is set to true, the command runs only on the instance
# that is marked as the leader.
#
# Artisan commands include environment flag for production. If you are not
# deploying to a production environment, update the flag.
# ------------------------------------------------------------------------------

container_commands:
  01_yarn_install:
    command: "sudo rm -rf node_modules && sudo yarn install"
    cwd: "/var/app/ondeck"
  02_js_build:
    command: "./node_modules/.bin/encore prod"
    cwd: "/var/app/ondeck"
  03_migrations:
    command: "./bin/console doctrine:migrations:migrate --no-interaction --allow-no-migration"
    cwd: "/var/app/ondeck"
  04_clear_cache:
    command: "./bin/console --env=prod cache:clear"
    cwd: "/var/app/ondeck"
  06-makeUnix:
    command: sed -e 's/\r$//' .ebextensions/workerDeploy.sh > .ebextensions/workerDeploy.sh
    cwd: "/var/app/ondeck"
  07-makeExecutable:
    command: chmod +x .ebextensions/workerDeploy.sh
    cwd: "/var/app/ondeck"
  08-workerDeploy:
    command: .ebextensions/workerDeploy.sh
    cwd: "/var/app/ondeck"
