files:
  # Force HTTPS
  "/etc/httpd/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine On
      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
      RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
      </If>

      # Handle Authorization Header
      RewriteCond %{HTTP:Authorization} .
      RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # Remove www from url
    "/etc/httpd/conf.d/remove_www.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
        RewriteEngine On
        RewriteBase /
        RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
        RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

  # PHP INI
    "/etc/php.d/project.ini" :
      mode: "000755"
      owner: root
      group: root
      content: |
        upload_max_filesize = 500M
        post_max_size = 500M
