container_commands:
  runLeaderSelectionCRON:
    command: "php -v || php artisan system:start:leaderselection" # Adds a cron entry that checks for leader selection every 5 minutes
    test: "1=2"
  runLeaderSelection:
    command: "php -v || php artisan aws:configure:leader" # Does an initial leader selection check
    test: "1=2"
