{% include 'email/partial/emailHeader.html.twig' %}

<p>{{ user.firstName }},</p>

<p>Click the link below to setup your password, and you’ll be on your way!</p>


<p><a href="{{ passwordSetUrl }}"><strong>{{ passwordSetUrl }}</strong></a></p>

{% include 'email/partial/emailFooter.html.twig' %}